<% if @menus.blank? %>
  <h1>죄송합니다. 메뉴 좀 모아볼께요 ㅠ</h1>
<% else %>

  <a href="<%= recommend_pick_menu_path %>" data-role="button">골라줘</a>
  
  <ul data-role="listview" data-divider-theme="b" data-inset="true">
    <% @menus.each do |menu| %>
      <li data-theme="c">
        <a href="<%= menu_path(menu) %>" data-transition="slide">
          <%= menu.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
