<ul data-role="listview" data-divider-theme="b" data-inset="true">
  <li data-theme="c">
    <a href="<%= menu_path %>" data-transition="slide">
      <h3 class="ui-li-heading">뭐 먹을까?</h3>
      <p class="ui-li-desc">먹고 싶은 메뉴들을 골라보세요</p>
      <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">328</span>
    </a>
  </li>

  <li data-theme="c">
    <a href="<%= place_path %>" data-transition="slide">
      <h3 class="ui-li-heading">어디서 먹을까?</h3>
      <p class="ui-li-desc">괜춘한 음식점들을 소개해 드립니다</p>
      <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">54</span>
    </a>
  </li>
</ul>
