<% if @restaurants.blank? %>
  <h1>죄송합니다. 식당 좀 모아볼께요 ㅠ</h1>
<% else %>

  <a href="<%= recommend_restaurant_path %>" data-role="button">골라줘</a>
  
  <ul data-role="listview" data-divider-theme="b" data-inset="true">
    <% @restaurants.each do |restaurant| %>
      <li data-theme="c">
        <a href="<%= restaurant_path(restaurant) %>" data-transition="slide">
          <%= restaurant.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

