<% if @restaurants.blank? %>
  <h1>음식점 정보 좀 넣어주세요~</h1>
<% else %>
  <ul data-role="listview" data-divider-theme="b" data-inset="true">
    <% @restaurants.each do |restaurant| %>
      <li data-theme="c">
        <a href="#" data-transition="slide">
          <%= restaurant.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
